{% extends 'portfolio/start.html' %}
{% block content %}
{% load static %}

<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Tasnia's portfolio</label>
    <ul>
        <li><a class="active" href="{% static '/portfolio/TAS.pdf' %}">Resume</a></li>
        <li><a href="{% url 'blog:all_blogs' %}">Blog</a></li>
        <li><a href="https://www.linkedin.com/in/tasnia-sharmin-3b1788198/">LinkedIn</a></li>
        <li><a href="https://github.com/tasnia18">GitHub</a></li>
    </ul>
</nav>

<p style="margin-top: 10px; margin-right: 30px; font-size: large;">Hey, this is my homepage, so I have to say something about myself. 
    </p>
<img src="{% static '/portfolio/m.jpg' %}" style="height:400px; width :300px;float: right;margin-right:30px;">
<p style="font-size: large;">Sometimes it is hard to introduce yourself because you know yourself so well that 
    you do not know where to start with. Let me give a try to see what kind of image you have about 
    me through my self-description. I hope that my impression about myself and your impression about me are
     not so different. Here it goes..<br>I am a person who is positive about every aspect of life. There are many things I like to do, 
    to see, and to experience. I like to think, I like to dream; I like to talk, I like to listen. I like to see the sunrise in the morning, I like to see the moonlight at night; I like to feel 
    the music flowing on my face, I like to smell the wind coming from the ocean. I like to look at the clouds in the 
    sky with a blank mind, I like to do thought experiment when I cannot sleep in the middle of the night. I like flowers
     in spring, rain in summer, leaves in autumn, and fog in winter.I like to be surrounded by people. 
     I like delicious food and comfortable shoes; And, I like to laugh.</p>


<br clear="all">
<h1 style="margin-bottom: 20px;font-weight: bold;">My project{{ projects.count|pluralize }}</h1>
{% for project in projects %}

{% if project.url %}
<a href="{{ project.url }}"><img src="{{ project.image.url }}" style="height:100px; width:100px;">
{% endif %}  
<h4>{{ project.title }}</h4></a>
<h5>{{ project.description }}</h5> 
{% endfor %}

{% endblock %}