{% extends 'blog/start.html' %}
{% block content %}


<nav style="padding: 25px; font-weight: bold; font-size: 20px; color:white; background-color:#0082ef; font-size: 100%;">Blogs</nav>

<h2 style="margin-top: 10px;margin-left: 10px ; ;">Tasnia has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h2>

{% for blog in blogs %}
<a href="{% url 'blog:detail' blog.id %}"><h2 style="margin-left: 10px ;">{{ blog.title }}</h2></a>
<h4 style="margin-left: 10px ;">{{ blog.date|date:'M d Y' }}</h4>
<h5 style="margin-left: 10px ;">{{ blog.description|striptags|truncatechars:100 }}</h5>

{% endfor %}

{% endblock %}